# Avoid copying entire dataset
data/

# Python
__pycache__/

# Jupyter
.ipynb_checkpoints

# Lightning
logs/

.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/time-transfer.iml
.idea/vcs.xml
